<%if post.errors.messages.any?%>
<ul>
      <%post.errors.full_messages.each do |msg|%>
      <li>
            <%=msg%>
      </li>
      <%end%>
</ul>
<%end%>
<div class="row row_box ">
      <%= form_for post do |p| %>
      <div class="add_title col-12">
            <%=p.label :title%>
            <%=p.text_field :title%>
      </div>
      <div class="row col-12 row_content">
            <div class="col-1"></div>
            <div class="add_post col-9 ">
                  <%=p.rich_text_area :content,rows: 15%>
            </div>
            <div class="col-2"></div>
      </div>
      <div class="post_submit col-12">
            <%=p.submit%>
      </div>
      <%end%>
</div>

<!-- <%#= form_with model:Post.new do |form| %>
<%#= form.text_field :title %>
<%#= form.text_field :content %>
<%#= form.submit %>
<#% end %> -->


<!-- <%= form_with(model: post) do |form| %>
<div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
</div>
<div class="field">
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
</div>
<div class="field">
      <%=form.submit%>
</div>
<% end %> -->


<p><%=link_to "返回",root_path,class:"show_back"%></p>