<div class="container">
  <div class="row">
  <div class="show_box">
    <div class="show_post_title col-12">
      <%=@post.title%> 
    </div>
    <div class="post_author col-12">
      <%=@post.user.try(:name) || 'unknow'%>
    </div>
    <div class="col-2"></div>
    <div class="show_post_content col-6">
      <pre> <%=@post.content%></pre>
    </div>
    <div class="col-2"></div>
  </div>
</div>



  <%= current_user.try(:name) || "訪客"%><br/>
  <a href="#" class="like_btn"  data-post-id="<%=@post.id%>">
    <%if current_user%>
      <%if current_user.like_posts.include?(@post)%>
        <i class="fas fa-thumbs-up"></i>
      <%else%>
        <i class="far fa-thumbs-up" ></i>
      <%end%>
    <%else%>
    <i class="far fa-thumbs-up" ></i>
    <%end%>
    </a> 
     
     <span class="like_amount"><%="#{@post.favorite_posts.count}"%></span> like this post
    <hr>
    <div class="post_comment">
      <div class="row">
        <div class="col-12 comment_user">
          <div class="row">
            <div class="col"></div>
              <button type="button" class="btn btn-info col" style="margin:5px;">facebook</button>
              <button type="button" class="btn btn-info col" style="margin:5px;">twitter</button>
              <div class="col-7" style="height:5px;"></div>
          </div>
        </div>
        <div class="col-12" style="height: 10px;"> </div>
        <div class="col-2 comment_user">
          <i class="fas fa-user"></i>
        </div>
        <div class="col-9">
          <%=form_for @comment ,url:post_comments_path(@post),class:"row" do |comment|%>
            <%=comment.rich_text_area :content,rows: 15%>
              <%=comment.submit "留言" ,class:"btn btn-outline-info col-2"%>
                <%end%>
        </div>
      </div>
    </div>
    <hr>

    <%@comments.each do |comment|%>
      <div class="card text-center">
        <div class="card-header">
          <%=comment.user.try(:email) || "guest" %> 留下足跡
        </div>
        <div class="card-body">
          <%=comment.content%>
        </div>
        <div class="card-footer text-muted">
          <%=time_ago_in_words comment.created_at%>
          <%if comment.user == current_user%>
          <%=link_to "刪除留言",comment_path(comment),method: :delete,data:{confirm:'sure?'} %>
          <%end%>
        </div>
      </div>
      <br />
      <%end%>

        <p>
          <%=link_to "返回" ,root_path,class:"show_back"%>
        </p>
</div>